body {
  font-family: Arial, sans-serif;
}

/* Navbar text color */
.navbar-nav .nav-link {
  color: #000;
  font-weight: 500;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  padding: 8px 12px;
}


/* Hover effect - Yellow text */
.navbar-nav .nav-link:hover {
  color: #FFD600;
}


/* Active page highlight */
.navbar-nav .nav-link.active {
  color: #FFD600;
  font-weight: 600;
}


header h1 {
  font-size: 2rem;
  font-weight: bold;
}



.card img {
  height: 220px;
  object-fit: cover;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.btn-outline-warning {
  color: black;
  border-color: #ffc107;
  /* font-weight: bold; */
}

.btn-outline-warning:hover {
  background-color: #ffc107;
  color: white;
}

#searchInput {
  border: 2px solid #ffc107;
  padding: 10px;
}

.footer-link {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
  }
  .footer-link:hover {
    color: #FFD600; /* Your theme color */
  }
  footer .btn-outline-light {
    border-color: #bbb;
    color: #bbb;
    transition: all 0.3s;
  }
  footer .btn-outline-light:hover {
    border-color: #FFD600;
    background: #FFD600;
    color: #000;
  }